a:hover {
  color: #FFE0E0;
}

a:link {
  color: #FFE0E0;
}

a:visited{
  color: #FFE0E0;
}

html, body {
  background-color: #4C566A;
  background-image: url(../images/brand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px;
  resize:  both;
}

.bd-navbar {
  background-color: #3B4252;
  /*border: 1px solid #FFE0E0;*/
}

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #3B4252;
  /*border: 1px solid #FFE0E0;*/
}