html, body {
  background-color: #4C566A;
  color: #FFE0E0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 75px; /*Prevents Hidden Text*/
}

body{
  content: "eyehatekyle full logo";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/landing-background.png) no-repeat center center;
  -webkit-background-size: 700px;
  -moz-background-size: 700px;
  -o-background-size: 700px;
  background-size: 700px;
}

a:hover {
  color: #FFE0E0;
}

a:link {
  color: #FFE0E0;
}

a:visited{
  color: #FFE0E0;
}

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #3B4252;
  /*border: 1px solid #FFE0E0;*/
}


#landing-background {
  background-color: #4C566A;
}

#main-background {
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-color: #4C566A;
  resize:  both;
}

.navbar {
  overflow: hidden; /*hides text*/
  background-color: #3B4252;
  width: 100%;
  /*border: 1px solid #FFE0E0;*/
}

.navbar-brand{
  /*padding-left: 30px;*/
  position: absolute;
  left: 50%;
  margin-left: -30px !important;  /* 50% of your logo width */
  display: block;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-toggler {
  margin-right: 30px;
  display: block;
}
